[Unit]
Description=CKG Consumer Service
After=network.target
Wants=network.target

[Service]
Type=simple
User=sitb-ckg
Group=sitb-ckg
WorkingDirectory=/opt/sitb-ckg
ExecStart=/opt/sitb-ckg/scripts/consumer/run-consumer.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target